body {
    margin: 150px;
    background-color: lightsteelblue;
}

.globe_container {
    display: flex;
    justify-content: left;
    margin: 40px;
}

.globe {
    width: 300px;

}

text {
    width: 200px;
    margin: 5px;
}

button {
    margin: 5px;
}

img {
    width: 150px;
    margin: 15px;
    /*border: 1px solid black;*/
}

h1 {
    font-family: "American Typewriter";
}

p {
    margin: 15px;
}

div {
    font-family: "American Typewriter";
    color: 5px solid black bold;
}